{% extends "base.html" %}

{% block content %}
<div class='center-title'>
    The Writing Well is Hard Team
</div>
<div class='contributors'>
    <h1>
        Contributors
    </h1>
    <div class="contrib-panel">
      <div class="headshot">
        <img src='/static/assets/headshots/letitia.jpg' style='left: -10px;'/>
      </div>
      <div class='contrib-para'>
      <b>Letitia Henville, PhD (she/her)</b>
      <p>
      Letitia Henville is a book nerd, a bad swimmer, and the author of the monthly academic writing advice column <a href="https://www.universityaffairs.ca/career-advice/ask-dr-editor/">“Ask Dr. Editor.”</a> Letitia believes that too many academics aren’t taught to write well, and so they comply with disciplinary writing norms that make their writing seem average, when it could be great. She came up with the idea of a comparative text analysis tool to empower academic writers to make informed choices about how they convey their ideas. Find her on twitter <a href='https://twitter.com/shortishard'>@shortishard</a> or in her freelance editing business, <a href='https://shortishard.com/'>shortishard.com</a>.
      </p>
      </div>
    </div>
    <div class="contrib-panel">
      <div class="headshot">
        <img src='/static/assets/headshots/logan.jpg' style='left: -20px;'/>
      </div>
      <div class='contrib-para'>
      <b>Logan Born, MSc (he/him)</b>
      <p>
      Logan Born is a freelance developer and PhD student at Simon Fraser University. He is interested in interdisciplinary work which unites computational techniques with disparate domains such as linguistics, archaeology, and art. Logan provided technical support and developed the code that runs <a href="/"><b class='has-text-blue'>Writing Well is Hard</b></a>. See more of his work or get in touch at <a href='https://mrlogarithm.github.io/about-me/about.html'>mrlogarithm.github.io</a>.
      </p>
      </div>
    </div>
    <br class='clearfloat'/>
    <div class="contrib-panel">
      <div class="headshot">
        <img src='/static/assets/headshots/andrea.jpg' style='left: -20px;'/>
      </div>
      <div class='contrib-para'>
      <b>Andrea Kampen, MLIS (she/her)</b>
      <p>
      Andrea Kampen is a PhD student at the School of Information at the University of British Columbia. She’s interested in arts-based research methods and user experience, and is curious about issues of care and maintenance of information. Andrea organized and facilitated the focus groups and usability studies that helped to make <a href="/"><b class='has-text-blue'>Writing Well is Hard</b></a> into an intuitive and easy-to-use tool. You can connect with Andrea on <a href='https://www.linkedin.com/in/andreakampen/'>her LinkedIn</a>.
      </p>
      </div>
    </div>
    <div class="contrib-panel">
      <div class="headshot">
        <img src='/static/assets/headshots/michaela.jpg' style='left: -20px;'/>
      </div>
      <div class='contrib-para'>
      <b>Michaela Dunn (she/her)</b>
      <p>
      Michaela Dunn is a digital marketer and freelance photographer. She is passionate about the intersection between digital design and user experience, and enjoys experimenting to find new and creative ways to connect with an audience. Michaela led the branding process and designed the front-end of the website, which ensures that <a href="/"><b class='has-text-blue'>Writing Well is Hard</b></a> is accessible and  easy to understand. To see more of her work or to get in touch, visit <a href='https://michaeladunn.ca/'>michaeladunn.ca</a>.
      </p>
      </div>
    </div>
</div>
<br class='clearfloat' />

<br />
<div class='center-title'>
    Code &amp; Acknowledgments
</div>
<div class='funding' style='font-size: 16px;font-family: "Nunito";'>
    <p>
    Funding for Logan’s position was provided by Innovate BC’s Innovate Initiative. Funding for Michaela and Andrea’s position was provided by Riipen’s Level Up.</p>
    <p>
    <a href="/"><b class="has-text-blue">Writing Well is Hard</b></a> was built using the <a href='https://spacy.io/'>spaCy</a> library for natural language processing.
    <!--All of our code is available free and open-source on <a href=''>our github repository</a>.-->
    </p>
</div>
{% endblock %}
