{% extends "base.html" %}

{% block content %}
<div class='center-title'>
    What is Writing Well is Hard?
</div>
<div class='key-bracket'>
    <p>
    <a href="/"><b class='has-text-blue'>Writing Well is Hard</b></a> 
    is a text analysis tool that helps academics to understand the patterns they use in their writing, and to see whether those patterns align with examples of writing from the best writers in their field.
    </p>
    <p>
    In truth, there’s no such thing as “academic writing”: there’s grant applications, journal articles, teaching statements, tenure and promotion dossiers, monographs, minigraphs, conference papers, and any number of other genres in any number of disciplines and interdisciplinary fields.
    </p>
    <p>
    <a href="/"><b class="has-text-gold">Writing Well is Hard</b></a>
    will help you to compare key features of your own writing to a writing sample of your choice, and will show you how your writing compares to that sample. The tool also links you to relevant 
    <a href='https://www.universityaffairs.ca/career-advice/ask-dr-editor/'>Ask Dr. Editor</a> 
    articles, so that you can edit your work to help your patterns to align with&mdash;or be distinct from&mdash;the patterns in your chosen sample. This resource was brought to you by the academic editing team at 
    <a href="https://shortishard.com/">Writing Short is Hard Consulting</a>. 
    </p>

    <video width="100%" controls>
      <source src="static/assets/wwih_help_new_1920x1080.mp4" type="video/mp4">
    </video>

</div>

<div class='key-bracket'>
    Want to learn to be a better editor of your own work? 
    <br/>
    <br/>
    <a href='https://shortishard.teachable.com/p/becoming-a-better-editor-of-your-own-work'>
      <button id='button-submit' style='width:180px;'>Take the course</button>
    </a>
</div>

{% endblock %}
